@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

$max-with: 800px;
$background: #EEEBDD;

body, html {
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-seri;
    background-color: $background;


    hr {
        overflow: visible; /* For IE */
        padding: 0;
        border: none;
        border-top: medium double #333;
        color: #333;
        text-align: center;
        
    }

    img {
        margin: auto;
        min-width: 100%;
        max-width: 100%;
    }
    hr:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: $background;
    }

    header, footer {
        text-align: center;
        max-width:$max-with;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    header {
    
        h1 {
            margin: 0;
            font-family: 'Ma Shan Zheng', cursive;
            font-size: xxx-large;
        }
    
        a {
            text-decoration: none;
            color: black;
        }
    }
    
    main {
        max-width: $max-with;
        margin: auto;
        padding: 10px;
        box-sizing: border-box;
    }
    
    

    .posts-index{
        list-style-type: none;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: black;
        }

        .post {
            a {
                display: block;
            }
            max-width: 100%;
            border: 2px #333 double;
            padding: 10px;
            margin: 10px 0 10px 0;
            transition: .2s;
        
        }

        .post:hover {
            background-color: #9c9b96;
        }
    }

    .PageNavigation {
        font-size: 14px;
        display: block;
        max-width: 100%;
        margin: auto;
        overflow: hidden;

        a {
            display: block;
            min-width: 50%;
            max-width: 50%;
            float: left;
            margin: 1em 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .next {
            text-align: right;
        }
    }
    
}