<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ site.baseurl }}/assets/img/flag_japan.png">
    
    <meta name="description" content="English VIII - proyect 1: Japan // {{ page.title}}"/>
    <meta name="keywords" content="Japan, Colombia, Cultural Iceberg"/>
    <meta name="author" content="Sonya Castro" />
    
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="English VIII - proyect 1: Japan // {{ page.title}}">
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/{{ page.banner}}">
    <meta property="og:url" content="{{ page.url }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>

<body>
    {% include header.html %}
    
    <main>
        
        <img src="{{ site.baseurl }}/assets/img/{{ page.banner}}" alt=" {{page.title}} ">
        <p>{{ page.date | date: '%B %d, %Y' }}</p>
        {{ content }}

        {% include pagination.html %}
    </main>

    

    {% include footer.html %}

</body>
</html>