<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <title>{{ page.title }}</title>
</head>

<body>
    {% include header.html %}
    
    <main>
        <p style="text-align: center;">{{ page.date | date: '%B %d, %Y' }}</p>
        <img src="{{ page.banner}} " alt=" {{page.title}} ">
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>